@theme static {
  --color-lbwt-bg: var(--color-surface);
  --color-lbwt-bg-hover: var(--color-base);
  --color-lbwt-bg-selected: var(--color-base);

  --color-lbwt-fg: var(--color-fg-primary);

  --color-lbwt-border: var(--color-border-secondary);
  --color-lbwt-border-selected: var(--color-border-primary);

  --padding-lbwt: var(--spacing-50) var(--spacing-300);
}
