@theme static {
  --color-gallery-trigger-active: var(--color-primary);

  /* === SPACING === */
  --spacing-gallery-sm: var(--spacing-100);
  --spacing-gallery-md: var(--spacing-200);
  --spacing-gallery-lg: var(--spacing-300);

  --padding-gallery-trigger: 0 0;
  --spacing-gallery-root: var(--spacing-100);

  --brightness-gallery-trigger: 80%;
  --brightness-gallery-trigger-active: 100%;
}
