@theme static {
  /* Spacing for stacked layout */
  --spacing-search-form-sm: var(--spacing-2xs);
  --spacing-search-form-md: var(--spacing-xs);
  --spacing-search-form-lg: var(--spacing-sm);
}

@utility token-icon-search {
  @apply icon-[mdi--magnify];
}
