:root {
  /* The red colour will be less noticeable. */
  --opacity-invalid: 80%;
}

@theme static {
  /* === BASE TOKEN MAPPING === */
  --color-switch-bg: var(--color-overlay);
  --color-switch-checked: var(--color-sky-300);
  --color-switch-border: var(--color-stroke-primary);
  --color-switch-thumb: var(--color-base-light);

  /* === STATE VARIATIONS === */
  --color-switch-hover: oklch(
    from var(--color-switch-bg) calc(l + var(--state-hover)) c h
  );

  /* === CHECKED STATE VARIATIONS === */
  --color-switch-checked-hover: oklch(
    from var(--color-switch-checked) calc(l + var(--state-hover)) c h
  );

  /* === DISABLED STATES === */
  --color-switch-disabled: var(--color-disabled-bg);
  --color-switch-thumb-disabled: --alpha(
    var(--color-disabled-text) /
    var(--opacity-disabled)
  );
  --color-switch-border-disabled: var(--color-disabled-border);

  /* === INVALID STATES === */
  --color-switch-invalid: --alpha(var(--color-danger) / var(--opacity-invalid));
  --color-switch-border-invalid: var(--color-switch-invalid);
  --color-switch-thumb-invalid: var(--color-switch-invalid);
  --color-switch-ring-invalid: var(--color-switch-invalid);

  /* === TEXT COLORS === */
  --color-switch-label: var(--color-fg-primary);
  --color-switch-label-disabled: var(--color-disabled-text);

  /* === FOCUS RING === */
  --color-switch-ring: --alpha(
    var(--color-switch-checked) /
    var(--opacity-ring)
  );

  /* === SPACING === */
  --spacing-root: var(--spacing-sm);
  --spacing-control-padding: var(--spacing-3xs);
  --spacing-track-width: var(--spacing-lg);
  --spacing-track-height: var(--spacing-sm);
  /* Padding inside the control container */
  --spacing-control-padding: 0.125rem;

  /* 
   * Calculate the height of the thumb by subtracting the padding from both sides
   */
  --spacing-thumb-height: calc(
    var(--spacing-track-height) -
    (var(--spacing-control-padding) * 2)
  );

  /* 
   * Calculate the exact distance: track - thumb - padding
   */
  --spacing-translate-track: calc(
    var(--spacing-track-width) -
    var(--spacing-track-height) -
    var(--spacing-control-padding)
  );

  /* === BORDER === */
  --border-width-switch: var(--border-width-sm);
  --radius-switch: var(--radius-full);
}
