:root {
  /* Need to bigger icon size on mobile */
  @media (max-width: 1024px) {
    --text-header-icon-size: var(--text-xl);
  }
}

@theme static {
  /* === HEADER COLORS === */
  --color-header-bg: var(--color-base);
  --color-header-text: var(--color-fg-primary);
  --color-header-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --color-header-mobile-menu-hover: var(--color-fill-hover);
  --color-header-mobile-menu-text: var(--color-fg-secondary);
  --color-header-mobile-menu-text-hover: var(--color-fg-primary);
  --color-header-divider: var(--color-border-secondary);

  /* === HEADER SPACING === */
  --spacing-header-container-x: var(--spacing-xs);
  --spacing-header-container-x-lg: var(--spacing-sm);
  --spacing-header-height: var(--spacing-xl); /* 48px mobile/tablet */
  --spacing-header-height-lg: var(--spacing-2xl); /* 64px desktop */
  --spacing-header-logo-gap: var(--spacing-2xs);
  --spacing-header-nav-margin: var(--spacing-lg); /* 40px */
  --spacing-header-actions-gap: var(--spacing-2xs);
  --spacing-header-actions-gap-lg: var(--spacing-sm);
  --spacing-header-mobile-menu-padding: var(--spacing-2xs);
  --spacing-header-user-menu-gap: var(--spacing-2xs);

  /* === HEADER TYPOGRAPHY === */
  --text-header-logo: var(--text-lg);
  --text-header-logo-lg: var(--text-xl);
  --font-header-logo: var(--font-weight-bold);
  --text-header-icon-size: var(--text-md);

  /* === HEADER LAYOUT === */
  --spacing-header-max-w: 80rem; /* 1280px */

  /* === HEADER EFFECTS === */
  --shadow-header-default: var(--color-header-shadow);
  --radius-header-mobile-menu: var(--radius-md);
  --ring-header-mobile-menu-width: 2px;
  --ring-header-mobile-menu-color: var(--color-primary);
}
