:root {
  --opacity-disclaimer: 80%;
}
@theme static {
  /* === BASE COLORS === */
  /* Background colors */
  --color-disclaimer-default-bg: --alpha(
    var(--color-primary) /
    var(--opacity-disclaimer)
  );
  --color-disclaimer-info-bg: --alpha(
    var(--color-info) /
    var(--opacity-disclaimer)
  );
  --color-disclaimer-warning-bg: --alpha(
    var(--color-warning) /
    var(--opacity-disclaimer)
  );
  --color-disclaimer-error-bg: --alpha(
    var(--color-danger) /
    var(--opacity-disclaimer)
  );
  --color-disclaimer-success-bg: --alpha(
    var(--color-success) /
    var(--opacity-disclaimer)
  );
  --color-disclaimer-fg: --alpha(
    var(--color-fg-reverse) /
    var(--opacity-disclaimer)
  );

  /* Text colors */
  --color-disclaimer-default-fg: var(--color-fg-reverse);
  --color-disclaimer-info-fg: var(--color-disclaimer-fg);
  --color-disclaimer-warning-fg: var(--color-disclaimer-fg);
  --color-disclaimer-error-fg: var(--color-disclaimer-fg);
  --color-disclaimer-success-fg: var(--color-disclaimer-fg);

  /* Border */
  --color-disclaimer-border: var(--color-border-subtle);

  /* === SPACING === */
  /* Padding */
  --spacing-disclaimer: var(--spacing-xs) var(--spacing-xl);

  /* Gap between icon and content */
  --spacing-disclaimer-gap-sm: var(--spacing-xs);
  --spacing-disclaimer-gap-md: var(--spacing-sm);
  --spacing-disclaimer-gap-lg: var(--spacing-md);

  /* Icon offset to align with first line of text */
  --spacing-disclaimer-icon-offset: 0.125rem;

  /* === TYPOGRAPHY === */
  /* Text sizes */
  --text-disclaimer-sm: var(--text-sm);
  --text-disclaimer-md: var(--text-md);
  --text-disclaimer-lg: var(--text-lg);

  /* === RADIUS === */
  --radius-disclaimer: var(--radius-md);

  --shadow-disclaimer: var(--shadow-primary);
}
