@theme static {
    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 20px;
    --radius-xl: 100px;

    --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.04);
    --shadow-md: 0px 2px 6px rgba(0, 0, 0, 0.02);
    --shadow-lg: 0px 2px 6px rgba(0, 0, 0, 0.25);
}