/* Import UI library tokens (Tailwind included) */
@import "@techsio/ui-kit/tokens-with-tailwind";
@import "./_overrides.css";
@import "./_layout.css";
@import "./_overrides-components.css";
@import "./app-components/app-components.css";
@import "./_icons.css";
@import "./_print.css";

@media (prefers-color-scheme: dark) {
  .reverse {
    color-scheme: light;
  }
}

.dark {
  .dark-white {
    filter: brightness(200);
  }
  .balikovna-dark {
    filter: brightness(2.5);
  }
}
/* Tell Tailwind where to look for classes in both UI library and local components */
@source "../../node_modules/@techsio/ui-kit/dist/**/*.js";
@source "../**/*.{js,ts,jsx,tsx,mdx}";
