@theme static {
  --icon-sm: 0.5355rem;
  --badge-text-sm: 0.6rem;
  --badge-text-md: 0.9rem;

  --text-3xl: 1.75rem;
  --text-2xl: 1.5rem; /* h1 */
  --text-xl: 1.3125rem; /* h2 */
  --text-lg: 1.125rem; /* Filter headline, store available in product page */
  --text-md: 1rem; /* Footer headline */
  --text-sm: 0.9375rem; /* top category headline */
  --text-xs: 0.875rem; /* menu, card headline, store available, price, button, basket */
  --text-2xs: 0.8125rem; /* header, badge, footer contact */
  --text-3xs: 0.6875rem; /* basket counter */

  --text-h1: var(--text-2xl);
  --text-h2: var(--text-xl);
  --text-h3: var(--text-lg);
  /* --text-md: var(--text-md);  md would be ok */
  /* --text-sm: var(--text-sm); rare usage => sm would be ok*/
  --text-base: var(--text-xs);
  /* --text-2xs: var(--text-2xs); */
  /* --text-3xs: var(--text-3xs); */
}
