@import "./_n1-spacing.css";
@import "./_n1-typography.css";
@import "./_n1-layout.css";
@import "./_n1-icons.css";
@import "./_n1-components.css";

/*
 * Color manipulation functions:
 * - oklch(from var(--color) calc(l + 0.1) c h): Modifies the lightness of a color while preserving
 *   its chroma and hue. Used for consistent hover/active states.
 * - --alpha(var(--color) / 50%): Adjusts transparency of a color. Tailwind's v4 utility
 *   that compiles to color-mix() for better browser support.
 */
:root {
  --state-hover: -0.08;
  --state-active: -0.12;
  --state-disabled-chroma: 0.01;
  --state-light-variant: 0.1; /* Always make colors lighter for -light variant */
  --state-light-chroma: 0.6; /* Reduce saturation for softer, pastel colors */
  --state-secondary-text: 0.15;
  --state-border: 15%;
  --max-lightness: 0.97;
  --opacity-ring: 80%;
  --opacity-disabled: 60%;
  --opacity-placeholder: 60%;
  --opacity-text-secondary: 70%;
  --opacity-disabled-placeholder: 30%;
  --fill-increment: 5%;
  --surface-increment: 0.05;
  --color-light-alpha: 70%;
}

/* Explicit Dark class(es) */
:is(.dark, .always-dark) {
  --state-hover: 0.08;
  --state-active: 0.12;
  --state-secondary-text: -0.15;
  --surface-increment: -0.05;
}

/* System Dark preference (when no explicit class forces light) */
@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.always-light) {
    --state-hover: 0.08;
    --state-active: 0.12;
    --state-secondary-text: -0.15;
    --surface-increment: -0.05;
  }
}

/* Reverse if parents has .always-light/dark and we want to make reverse style to parent */
:is(.light, .always-light) .reverse {
  --state-hover: 0.08;
  --state-active: 0.12;
  --state-secondary-text: -0.15;
  --surface-increment: -0.05;
}

:is(.dark, .always-dark) .reverse {
  --state-hover: -0.08;
  --state-active: -0.12;
  --state-secondary-text: 0.15;
  --surface-increment: 0.05;
}

/* Reverse on System Light/Dark preference (when no explicit theme class is present) */
@media (prefers-color-scheme: light) {
  .reverse:not(.dark):not(.always-dark):not(.light):not(.always-light) {
    --state-hover: 0.08;
    --state-active: 0.12;
    --state-secondary-text: -0.15;
    --surface-increment: -0.05;
  }
}

@media (prefers-color-scheme: dark) {
  .reverse:not(.dark):not(.always-dark):not(.light):not(.always-light) {
    --state-hover: -0.08;
    --state-active: -0.12;
    --state-secondary-text: 0.15;
    --surface-increment: 0.05;
  }
}

/* === TAILWIND UTILITY VARIABLES === */
@theme static {
  /*Disabled state - Disabled
  It is used to fill all kinds of forbidden elements in the interface, such as background, text, stroke, fill, etc*/
  --color-disabled-bg: light-dark(var(--color-gray-100), var(--color-gray-800));
  --color-disabled-fg: light-dark(var(--color-gray-500), var(--color-gray-500));
  --color-disabled-border: light-dark(
    var(--color-gray-300),
    var(--color-gray-700)
  );
  --color-disabled-fill: light-dark(var(--color-gray-50), var(--color-gray-850));

  /* Colors */
  /* User interface main tone and interactive colors, usually used for main operation button, etc */
  --color-primary: oklch(0.4495 0 0); /* should be this rgb(255, 231, 16)? or this oklch(0.4495 0 0)? */
  --color-primary-hover: oklch(
    from var(--color-primary) calc(l + var(--state-hover)) c h
  );
  --color-primary-light: --alpha(
    var(--color-primary) /
    var(--color-light-alpha)
  );
  --color-primary-disabled: var(--color-disabled-bg);

  /*Secondary colors. Less important than primary colors, but still serve as accents.*/
  --color-secondary: rgb(255, 231, 16); /* should be this rgb(255, 231, 16)? or this oklch(0.4495 0 0)? */
  --color-secondary-hover: oklch(
    from var(--color-secondary) calc(l + var(--state-hover)) c h
  );
  --color-secondary-light: --alpha(
    var(--color-secondary) /
    var(--color-light-alpha)
  );
  --color-secondary-disabled: var(--color-disabled-bg);

  /* In the user interface, non emphasis color and interactive color are usually used for general and non emphasis function operation buttons */

  /* PROBABLY UNNECESSARY */
  --color-tertiary: light-dark(var(--color-pink-500), var(--color-rose-400));
  --color-tertiary-hover: oklch(
    from var(--color-tertiary) calc(l + var(--state-hover)) c h
  );
  --color-tertiary-light: --alpha(
    var(--color-tertiary) /
    var(--color-light-alpha)
  );
  --color-tertiary-disabled: var(--color-disabled-bg);

  /* It is usually used to express the success, completion and opening status, and is used in scenarios with the above semantics */
  --color-success: oklch(0.6268 0.2022 144.15); /* rgb(0, 165, 35) */
  --color-success-hover: oklch(
    from var(--color-success) calc(l + var(--state-hover)) c h
  );
  --color-success-light: --alpha(
    var(--color-success) /
    var(--color-light-alpha)
  );
  --color-success-disabled: var(--color-disabled-bg);

  /* It is usually used to express objective and neutral information in the context with the above semantics */
  --color-info: oklch(0.6651 0.1222 246.14); /* rgb(77, 154, 218) */
  --color-info-hover: oklch(
    from var(--color-info) calc(l + var(--state-hover)) c h
  );
  --color-info-light: --alpha(var(--color-info) / var(--color-light-alpha));
  --color-info-disabled: var(--color-disabled-bg);

  /* It is usually used to express warning and unsafe state, and is used in scenarios with the above semantics */
  --color-warning: oklch(0.8987 0.185667 97.8573); /* rgb(255, 221, 0) */
  --color-warning-hover: oklch(
    from var(--color-warning) calc(l + var(--state-hover)) c h
  );
  --color-warning-light: --alpha(
    var(--color-warning) /
    var(--color-light-alpha)
  );
  --color-warning-disabled: var(--color-disabled-bg);

  /* It is usually used to express the dangerous state, and is used in the scene with the above semantics */
  --color-danger: oklch(0.6427 0.2153 28.81); /* rgb(244, 67, 54) */
  --color-danger-hover: oklch(
    from var(--color-danger) calc(l + var(--state-hover)) c h
  );
  --color-danger-light: --alpha(var(--color-danger) / var(--color-light-alpha));
  --color-danger-disabled: var(--color-disabled-bg);

  /* Text colors and Icon colors*/
  /* Four different levels of text / icon colors represent the most important, secondary, minor and minor contents in the product interface */
  --color-fg-light: oklch(0 0 0); /* Light mode */
  --color-fg-dark: oklch(1 0 0); /* Dark mode */
  --color-fg-primary: var(--color-fg-light); /* rgb(0,0,0) */
  --color-fg-secondary: oklch(0.1913 0 0); /* rgb(20,20,20) */
  --color-fg-tertiary: oklch(0.3867 0 0); /* rgb(68,68,68) */
  /* This could be something like subtext */
  --color-fg-4: oklch(0.4495 0 0); /* rgb(85,85,85) */
  --color-fg-5: oklch(0.5693 0 0); /* rgb(119,119,119) */

  --color-fg-reverse: var(--color-fg-dark); /* rgb(255,255,255) */
  --color-fg-reverse-secondary: oklch(0.8822 0 0); /* rgb(216,216,216) */

  /* Background colors */
  /* All levels of background color in the application, including container, menu, navigation bar, etc. In dark mode, we usually use the background color to distinguish the front and back levels */
  --color-base-light: oklch(1 0 0);
  --color-base-dark: oklch(0.1913 0 0);
  --color-base: var(--color-base-light); /*bottom page*/
  --color-surface: oklch(0.9731 0 0); /* rgb(246, 246, 246) */
  --color-overlay: oklch(0.931 0 0); /* rgb(232,232,232) */
  --color-float: oklch(0.4495 0 0); /* rgb(85,85,85) */
  --color-highlight: oklch(0.3052 0 0); /* rgb(47,47,47) */
  --color-base-reverse: var(--color-base-dark); /* rgb(20,20,20) */

  --color-surface-light: --alpha(
    var(--color-surface) /
    var(--color-light-alpha)
  );
  --color-overlay-light: --alpha(
    var(--color-overlay) /
    var(--color-light-alpha)
  );
  --color-float-light: --alpha(var(--color-float) / var(--color-light-alpha));
  --color-highlight-light: --alpha(
    var(--color-highlight) /
    var(--color-light-alpha)
  );

  /* Borders */
  --color-border-primary: oklch(0.9189 0 0); /* rgb(218,218,218) */
  --color-border-secondary: oklch(0.8822 0 0); /* rgb(216,216,216) */
  --color-border-tertiary: oklch(0.8452 0 0); /* rgb(204,204,204) */

  --border-width-none: 0px;
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 3px;

  /* Links */
  --color-link: light-dark(var(--color-blue-500), var(--color-sky-300));
  --color-link-hover: oklch(
    from var(--color-link) calc(l + var(--state-hover)) c h
  );
  --color-link-active: oklch(
    from var(--color-link) calc(l + var(--state-active)) c h
  );
  --color-link-visited: oklch(
    from var(--color-link) calc(l - var(--state-hover)) c h
  );

  /* Fill Color*/
  /* For an element, if the background color of its container is not fixed, and the contrast between the filling color of the element and the top background color is small, use the filling color as the background color to ensure that the element will not "melt" into a certain level of background color, such as a form control.  */
  --color-fill-base: --alpha(var(--color-base-reverse) / var(--fill-increment));
  --color-fill-hover: --alpha(
    var(--color-base-reverse) /
    calc(var(--fill-increment) * 2)
  );
  --color-fill-active: --alpha(
    var(--color-base-reverse) /
    calc(var(--fill-increment) * 3)
  );

  /* Spacing */
  --spacing: 0.25rem;

  /* Radius values - N1 uses minimal rounding */
  --radius-sm: 0;
  --radius-md: 0.125rem; /* 2px - very subtle */
  --radius-lg: 0.25rem; /* 4px */

  /* Shadows - N1 uses minimal shadows */
  --shadow-sm: none;
  --shadow-md: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 12px rgba(0, 0, 0, 0.15);

  /* Focus ring */
  --default-ring-color: light-dark(var(--color-black), var(--color-white));
  /*--color-ring-primary: --alpha(var(--color-primary) / var(--opacity-ring));*/
  --color-ring-primary: var(--default-ring-color);
  --color-ring: var(--default-ring-color);
  --default-ring-width: 3px;
}
