@theme static {
  /* === ATOMS === */
  /* BADGE */
  --text-badge-size: var(--text-sm);
  --font-weight-badge: var(--font-weight-medium);

  /* BUTTON */
  --color-button-primary: oklch(0.4495 0 0);
  --text-button-sm: var(--text-md);

  /* === MOLECULES === */
  /* CAROUSEL */
  --color-carousel: transparent;
  --color-carousel-indicator-bg-active: var(--color-yellow-400);
  --color-carousel-trigger-bg: transparent;
  --color-carousel-trigger-bg-hover: transparent;
  --color-carousel-trigger-fg-hover: var(--color-fg-primary);
  --color-carousel-indicator-border: var(--color-surface);
  --color-carousel-indicator-border-active: transparent;
  --text-carousel-trigger-size: 3rem;
  --width-carousel-indicator: 2rem;
  --aspect-carousel-indicator: 1;
  --spacing-carousel-root-md: 100%;

  /* PRODUCT CARD */
  --color-product-card-bg: var(--color-base);
  --color-product-card-border: transparent;
  --color-product-card-badge-new-bg: var(--color-info);
  --color-product-card-badge-sale-bg: var(--color-warning);
  --color-product-card-badge-limited-bg: var(--color-danger);
  --color-product-card-badge-sale-fg: var(--color-fg-primary);

  --text-product-card-stock-size: var(--text-md);
  --text-product-card-price-size: var(--text-md);
  --text-product-card-name-size: var(--text-md);
  --font-weight-product-card-stock: var(--font-weight-bold);
  --font-weight-product-card-price: var(--font-weight-bold);
  --font-weight-product-card-name: var(--font-weight-bold);
  --spacing-product-card-col-layout: var(--spacing-200);

  /* === ORGANISMS === */
  /* FOOTER */
  --color-footer: var(--color-highlight);
  --color-footer-fg-primary: var(--color-fg-dark);
  --color-footer-fg-secondary: --alpha(var(--color-fg-dark) / 70%);
  --footer-cols: repeat(24, 1fr);

  /* === HEADER === */
}
