/* === BASE ICONS === */

@utility token-icon-heart-outline {
  @apply icon-[mdi--heart-outline];
}

@utility token-icon-paw-outline {
  @apply icon-[mdi--paw-outline];
}

@utility token-icon-help-outline {
  @apply icon-[mdi--help-circle-outline];
}

@utility token-icon-email-outline {
  @apply icon-[mdi--email-outline];
}

@utility token-icon-numeric-input-increment {
  @apply icon-[mdi--plus];
}

@utility token-icon-numeric-input-decrement {
  @apply icon-[mdi--minus];
}

@utility token-icon-external-link {
  @apply icon-[mdi--external-link];
}

@utility token-icon-check {
  @apply icon-[mdi--check-bold];
}

@utility token-icon-x {
  @apply icon-[mdi--close-thick];
}

/* Order list icons */
@utility token-icon-clock {
  @apply icon-[mdi--alarm-clock];
}

@utility token-icon-shopping {
  @apply icon-[mdi--shopping-outline];
}

@utility token-icon-check-circle {
  @apply icon-[mdi--check-circle-outline];
}

@utility token-icon-cash {
  @apply icon-[mdi--cash];
}

@utility token-icon-arrow-left {
  @apply icon-[mdi--arrow-left];
}

@utility token-icon-archive {
  @apply icon-[mdi--archive-outline];
}
