@import "./app-components/index.css";

:root {
  @media (width < 1240px) {
    --text-product-card-price-size: var(--text-lg);
  }
}

@theme static {
  /* === ATOMS === */
  /* BADGE */
  --text-badge-size: var(--text-sm);
  --font-weight-badge: var(--font-weight-medium);

  /* BUTTON */
  --color-button-primary: oklch(0.4495 0 0);
  --color-button-tertiary: #f6f6f6;
  --color-button-fg-tertiary: var(--color-fg-primary);
  --text-button-sm: var(--text-md);
  --color-button-border-secondary-selected: var(--color-border-tertiary);

  /* NUMERIC INPUT */
  --color-numeric-input-border: var(--color-border-secondary);
  --color-numeric-input-border-focus: var(--color-fg-primary);
  --color-numeric-input-trigger-bg: var(--color-gray-300);
  --color-numeric-input-trigger-fg-hover: var(--color-fg-primary);

  /* TOOLTIP */
  --color-tooltip-bg: var(--color-base);
  --color-tooltip-border: var(--color-border-secondary);

  /* === MOLECULES === */

  /* BREADCRUMB */
  --color-breadcrumb-bg: transparent;

  --color-breadcrumb-fg-current: var(--color-fg-secondary);
  --color-breadcrumb-fg-hover: var(--color-fg-primary);

  /* CAROUSEL */
  --color-carousel: transparent;
  --color-carousel-indicator-bg-active: var(--color-yellow-400);
  --color-carousel-trigger-bg: transparent;
  --color-carousel-trigger-bg-hover: transparent;
  --color-carousel-trigger-fg-hover: var(--color-fg-primary);
  --color-carousel-indicator-border: var(--color-surface);
  --color-carousel-indicator-border-active: transparent;
  --text-carousel-trigger-size: 3rem;
  --width-carousel-indicator: 2rem;
  --aspect-carousel-indicator: 1;
  --spacing-carousel-root-md: 100%;
  /*--color-carousel-control-bg: var(--color-red-300);*/

  /* PAGINATION */
  --color-pagination-filled-fg-active: var(--color-fg-primary);
  --color-pagination-border: var(--color-border-secondary);

  /* PRODUCT CARD */
  --color-product-card-bg: var(--color-base);
  --color-product-card-border: transparent;
  --color-product-card-badge-new-bg: var(--color-info);
  --color-product-card-badge-sale-bg: var(--color-warning);
  --color-product-card-badge-limited-bg: var(--color-danger);
  --color-product-card-badge-sale-fg: var(--color-fg-primary);

  --text-product-card-stock-size: var(--text-lg);
  --text-product-card-price-size: var(--text-xl);
  --text-product-card-name-size: var(--text-lg);
  --font-weight-product-card-stock: var(--font-weight-bold);
  --font-weight-product-card-price: var(--font-weight-bold);
  --font-weight-product-card-name: var(--font-weight-bold);
  --spacing-product-card-col-layout: var(--spacing-200);

  /* TABS */
  --color-tabs-bg: var(--color-base);
  --color-tabs-active: var(--color-fg-primary);
  --color-tabs-border: var(--color-border-secondary);
  /*--color-tabs-indicator-bg: var(--color-black);*/

  /* TREE-VIEW */
  --color-tree-root-bg: var(--color-surface);
  --color-tree-bg: var(--color-surface);
  --color-tree-node-bg-hover: var(--color-surface);
  --color-tree-fg-hover: var(--color-fg-primary);

  /* === ORGANISMS === */
  /* FOOTER */
  --color-footer: var(--color-highlight);
  --color-footer-fg-primary: var(--color-fg-dark);
  --color-footer-fg-secondary: --alpha(var(--color-fg-dark) / 70%);
  --footer-cols: repeat(auto-fill, minmax(250px, 1fr));
  --breakpoint-header-desktop: 52rem;

  /* === HEADER === */

  /* === TABLE === */
  --color-table-row-striped-bg-secondary: var(--color-n1-table);
  --color-table-border: var(--color-n1-table-border);
}

/* === TREE-VIEW UTILITIES === */
@utility token-icon-tree-indicator {
  @apply icon-[mdi--plus];
}

@utility token-icon-tree-indicator-open {
  @apply icon-[mdi--minus];
}
