@theme static {
  /* === BREAKPOINTS === */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* === CONTAINER SIZES === */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-max-w: 80rem;
  --container-prose: 65ch;

  --container-mobile-w: calc(100svw - 2rem);
  --container-search: 40dvw;
  --container-top-product: clamp(150px, 100%, 260px);

  /* === SIZES === */
  --spacing-size-3xs: 5rem;
  --spacing-size-2xs: 6rem;
  --spacing-size-sm: 7rem;
  --spacing-size-md: 8rem;
  --spacing-size-lg: 9rem;
  --spacing-size-xl: 10rem;
  --spacing-size-2xl: 11rem;
  --size-image-sm: 6rem;
  --height-gallery: 60svh;

  /* === ASPECT RATIOS === */
  --aspect-square: 1;
  --aspect-video: 16 / 9;
  --aspect-portrait: 9 / 16;
  --aspect-landscape: 4 / 3;
  --aspect-wide: 21 / 9;
  --aspect-card: 3 / 2;
  --aspect-golden: 1.618;
}
