@import "tailwindcss";
@import "@techsio/ui-kit/src/tokens/tokens-only.css";
@import "./_n1-semantic.css";
@import "./_n1shop-overrides.css";

@plugin 'tailwindcss-animate';

@source "../../node_modules/@techsio/ui-kit/dist/**/*.js";
@source "../**/*.{js,ts,jsx,tsx,mdx}";
