@theme static {
  --bg-opacity: 30%;
  --color-banner-default-bg: --alpha(var(--color-surface) / var(--bg-opacity));
  --color-banner-default-fg: var(--color-fg-primary);
  --color-banner-default-border: var(--color-fg-secondary);

  --color-banner-info-bg: --alpha(var(--color-info) / var(--bg-opacity));
  --color-banner-info-fg: var(--color-info);
  --color-banner-info-border: var(--color-info);

  --color-banner-success-bg: --alpha(var(--color-success) / var(--bg-opacity));
  --color-banner-success-fg: var(--color-success);
  --color-banner-success-border: var(--color-success);

  --color-banner-warning-bg: --alpha(var(--color-warning) / var(--bg-opacity));
  --color-banner-warning-fg: var(--color-fg-primary);
  --color-banner-warning-border: var(--color-warning);

  --color-banner-danger-bg: --alpha(var(--color-danger) / var(--bg-opacity));
  --color-banner-danger-fg: var(--color-danger);
  --color-banner-danger-border: var(--color-danger);

  --text-banner-sm: var(--text-sm);
  --text-banner-md: var(--text-md);
  --text-banner-lg: var(--text-lg);

  --padding-banner-sm: var(--spacing-200);
  --padding-banner-md: var(--spacing-400);
  --padding-banner-lg: var(--spacing-600);
}
